extends ../layout/index

block contenido
    div.py-10
        h1.text-4xl.my-10.font-foco.text-center.text-darkblue Bienes 
            span.font-normal.text-black Raíces  
        h2.text-center.text-2xl.font-rubi= pagina

        p.text-xl.font-rubi.text-center.my-10= mensaje
